[submodule "libs/glad"]
	path = libs/glad
	url = https://github.com/Gwestone/glad_4.5
[submodule "libs/stb"]
	path = libs/stb
	url = https://github.com/Gwestone/stb.git
[submodule "libs/glm"]
	path = libs/glm
	url = https://github.com/g-truc/glm.git
[submodule "libs/assimp"]
	path = libs/assimp
	url = https://github.com/assimp/assimp.git
